.search {
    width: 100%;
    margin-bottom: auto;
    /* margin-top: 20px; */
    height: 50px;
    background-color: #fff;
    padding: 10px;
   
      
}
.search-outer{
    background-color: antiquewhite;
    border-radius: 5px;
}
.search-inner{
    margin:10px;
}
.search-input {
    color: white;
    height: 30px;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 40px 10px 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 37px;
    position: relative;
    border-radius: 5px
}

.search-icon:hover {
    color: #fff !important
}

a:link {
    text-decoration: none
}

.col-5{
    margin-left: 42%;
}